@import url('https://use.typekit.net/jxe8hth.css');
body{
	font-family: "adobe-caslon-pro",serif;
	font-family: "sofia-pro",sans-serif;
	color:#282828;
	font-weight:500;
	background:#F0F0F0;
}
p{
	font-size:18px;
	line-height:28px;
}
a, p{
	color:#3c322d;
}
a, a:hover, a:focus{
	text-decoration:none;
	font-weight:500;
	font-size:14px;
	color:#F7F7F7;
}
ul, ol{
	list-style:none;
	margin:0;
	padding:0;
}

.wrapper{
	padding: 0;
    margin: 0;
	width:100%;
	float:left;
	overflow: hidden;
}

img{
	width:100%;
	max-width:100%;
}
header {
    width: 100%;
    background: transparent;
    padding: 0 40px;
    position: absolute;
    max-width: 1480px;
    left: 0;
    right: 0;
    margin: auto;
}
nav{
	width:100%;
	background:#122348;
	float:left;
}
@media (min-width:1025px){
	nav{
		display:flex;
	}
}
.logo{
	width:190px;
	float:left;
	-webkit-transition:0.3s;
		-moz-transition:0.3s;
		transition:0.3s;
}
.navbar{
	width: calc(100% - 190px);
	float:left;
	margin:0;
	padding:0;
	border:0px solid transparent;
	-webkit-transition:0.3s;
		-ms-transition:0.3s;
		-moz-transition:0.3s;
		transition:0.3s;
}
.preenav, .navmenu{
	width:100%;
	background:transparent;
	float:left;
	text-align:right;
}
.preenav{
	background:#861C25;
}
header ul li, header ol li{
	display:inline-block;
	margin:0px;
	padding:0;
}
header ol li{
	display:inline-block;
	
}
header ol{
	border-left:1px solid #fff;
	padding-left:10px;
	padding-right:15px;
}
header ul li a, header ol li a{
	color:#fff;
	font-size:14px;
	line-height:30px;
}
.preenav a{
	font-weight:300;
	padding:7px 15px;
	-webkit-transition:0.3s;
		-moz-transition:0.3s;
		transition:0.3s;
}
.preenav a:hover{
	color:#FFD93C;
}
.preenav ol li a{
	padding:6px;
}
.navmenu > ul {
	padding:0px 8px;
}
.navmenu > ul > li {
	padding:15px 0px 15px;
	padding:0;
}
.navmenu > ul > li a{
	padding:5px 15px;
	display:block;
	-webkit-transition:0.3s;
		-moz-transition:0.3s;
		transition:0.3s;
}
.navmenu > ul > li:last-child > a{
	padding:5px 15px;
}
.navmenu > ul > li > a{
	padding:20px 15px;
}
.navmenu > ul > li a:hover, .navmenu > ul > li:hover > a{
	color:#FFD93C;
}
.navmenu > ul > li:last-child a{
	line-height: 20px;
	color:#122348;
	position:relative;
	z-index:1;
}
.navmenu > ul > li:last-child a:before{
	width:0;
	height:100%;
	content:"";
	background:#FEC00F;
	position:absolute;
	left:0;
	top:0;
	-webkit-transition:0.3s;
		-moz-transition:0.3s;
		transition:0.3s;
	z-index:-1;
}
.navmenu > ul > li:last-child a:hover:before{
	width:100%;
}
.navmenu > ul > li:last-child{
	margin-right:8px;
}
.navmenu > ul > li:last-child a{
	background:#FFD93C;
}
.navbar {
    position: static;
}
nav{
	position:relative;
	z-index:100;
}
.submenu{
	position:absolute;
	left:0;
	top:100%;
	background:#fff;
	z-index:99;
	-webkit-transform:scale(1 , 0);
	transform:scale(1 , 0);
	-webkit-transition:0.3s;
		-moz-transition:0.3s;
		transition:0.3s;
	-webkit-transform-origin: top;
	-moz-transform-origin: top;
	transform-origin: top;
	opacity:0;
}
.navmenu ul li:hover .submenu{
	-webkit-transform:scale(1);
	transform:scale(1);
	opacity:1;
}
.submenuinner .submenchild{
	position:relative;
}
.programs .submenchild:nth-child(1):after{
	content:"";
	width:1px;
	height:80%;
	top:10%;
	right:0;
	position:absolute;
	background:rgba(0,0,0,0.16);
}
.tabeditem{
	padding-bottom:30px;
}
.submenchild .tabeditem:last-child{
	padding-bottom:0px;
}
.tabeditem li:first-child{
	color:#122348;
	font-size:16px;
	font-weight:600;
}
.tabeditem li a{
	color:#122348;
	font-size:16px;
	font-weight:100;
}
.navmenu ul.tabeditem > li a{
	padding: 0px 15px;
}
.submenuinner{
	width:100%;
	float:left;
	-webkit-box-shadow: inset 0px 10px 10px 0px rgba(148, 147, 147, 0.25);
	-moz-box-shadow: inset 0px 10px 10px 0px rgba(148, 147, 147, 0.25);
	box-shadow: inset 0px 10px 10px 0px rgba(148, 147, 147, 0.25);
}
.submenchild{
	padding:30px 45px;
}
.tabed{
	width:100%;
	float:left;
	background:#F7F7F7;
	padding:10px;
	-webkit-box-shadow: inset 0px 10px 10px 0px rgba(148, 147, 147, 0.25);
	-moz-box-shadow: inset 0px 10px 10px 0px rgba(148, 147, 147, 0.25);
	box-shadow: inset 0px 10px 10px 0px rgba(148, 147, 147, 0.25);
}
.tabed li{
	padding:0 30px;
}
.tabed li a, .navmenu ul.tabed > li a{
	font-weight:600;
	padding:5px 0;
	position:relative;
}
.tabed li a:after{
	content:"";
	position:absolute;
	width:100%;
	height:2px;
	background:#122348;
	left:0;
	top:100%;
	-webkit-transform:scale(0);
	transform:scale(0);
	-webkit-transition:0.3s;
		-moz-transition:0.3s;
		transition:0.3s;
}
.tabed li a:hover:after, .tabed li a.active:after{
	-webkit-transform:scale(1);
	transform:scale(1);
}
.submenu li, .submenu li a{
	color:#122348;
	font-size:14px;
}
.navmenu .submenu{
	text-align:left;
}
.tabed{
	text-align:center;
}
.tabeditem li{
	display:block;
}
.programs{
	display:none;
	width: 100%;
    float: left;
}
.programs.active{
	display:block;
}
.dropnavul{
	padding:50px 100px;
	width:100%;
	float:left;
}
.dropnavul li {
    display: flex;
    align-items: center;
    padding: 15px 35px;
	width:50%;
	float:left;
   /*  border-top: 1px solid rgba(112,112,112,0.2); */
}
.dropnavul li:nth-child(odd){
	border-right: 1px solid rgba(112,112,112,0.2);
}
.navmenu .dropnavul > li a {
    padding: 5px 0;
    display: inline-block;
	line-height:1.5;
	margin-right:30px;
	font-size:14px;
	color:#585858;
	font-weight:300;
}
.dropnavul li div {
    max-width: 80px;
    width: 100%;
    background: #fff;
    border: 1px solid rgba(112,112,112,0.2);
    padding: 10px;
    margin-right: 20px;
}
.dropnavulabout{
	padding:50px 25px;
	width:100%;
	float:left;
}
.dropnavulabout li{
	padding:0 25px 10px 25px;
	width:33.33%;
	float:left;
	border-right: 1px solid rgba(112,112,112,0.2);
}
.dropnavulabout li:nth-child(3n){
	border-right: 0px solid rgba(112,112,112,0.2);
}
.dropnavulabout li a{
	font-size: 14px;
    letter-spacing: .5px;
	color:#122348;
	font-weight:600;
	display:block;
	position:relative;
}
.dropnavulabout li a:after{
	content:"\2192";
	position:absolute;
	right:0;
	top:0;
	line-height: 34px;
    width: 40px;
    height: 30px;
    font-size: 30px;
	color:#861C25;
	-webkit-transition:0.3s;
		-moz-transition:0.3s;
		transition:0.3s;
	/* background:url(../images/banner.jpg) no-repeat; */
}
.dropnavulabout li a:hover:after{
	color:#FFD93C;
}
/*STICkY-------*/
header.sticky{
	position: fixed;
    z-index: 99;
}
.sticky .logo {
    width: 125px;
}
.sticky .navbar {
    width: calc(100% - 125px);
}

.sticky .navmenu > ul > li > a {
    padding: 3px 15px;
}
/*===*/
.banner{
	width:100%;
	height:100vh;
	float:left;
}
.bannerimage{
	opacity:0;
	-webkit-transition:0.3s;
		-moz-transition:0.3s;
		transition:0.3s;
}
.bannerimage{
	background-size: cover;
	background-position:top center;
	width:100%;
	height:100vh;
	float:left;
}
.bannertext{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}
.bannertext h1{
	margin:0;
	font-size:60px;
	text-align:center;
	line-height:84px;
	color:#fff;
	font-family: "adobe-caslon-pro",serif;
}

.bannertext ul{
	list-style-type:disc;
	list-style:disc;
	text-align:center;
	width: 190px;
    margin: 0 auto;
}

.bannertext ul li{
	color:#fff;
	font-size:21px;
	margin-left: 30px;
	float:left;
	/* display: list-item; */
}
.bannertext ul li:first-child{
	list-style:none;
	margin-left: 0px;
}
.divmargin--40{
	margin-top:-45px;
	width:100%;
	float:left;
}
.tabstypeinner{
	position:relative;
	padding:45px 0;
	float:left;
	width:100%;
}
.tabscustom{
	float:left;
	position:absolute;
	z-index:2;
	padding:0;
	left: 0;
    top: 0;
}
.tabscustom li{
	padding:0 15px;
	width:25%;
	float:left;
	position:relative;
}
.tabscustom li a{
	color:#122348;
	text-align:center;
	font-size:16px;
	font-family: "adobe-caslon-pro",serif;
	padding:34px 15px;
	background:#fff;
	display:block;
	position:relative;
	
}
.tabscustom.stickey li a {
    padding: 12px 15px;
	-webkit-box-shadow: 0 3px 5px rgba(115, 115, 115, 0.51);
	box-shadow: 0 3px 5px rgba(115, 115, 115, 0.51);
}
.tabscustom li:before{
	content:'';
	position:absolute;
	left:10%;
	width:80%;
	top:0;
	background:#585858;
	height:6px;
	z-index:1;
}
.tabscustom.stickey li:before{
	height:3px;
}
.tabscustom li:after{
	content:'';
	position:absolute;
	left:10%;
	width:80%;
	top:0;
	background:#FFD93C;
	height:6px;
	-webkit-transition:0.3s;
		-moz-transition:0.3s;
		transition:0.3s;
	z-index:2;
	-webkit-transform:scale(0 , 1);
	transform:scale(0 , 1);
}
.tabscustom.stickey li:after{
	height:3px;
}
.tabscustom li:hover:after, .tabscustom li.active:after, .tabscustom li.cactive:after{
	-webkit-transform:scale(1);
	transform:scale(1);
}
.tabscustom li a:before{
	content:'';
	position:absolute;
	left:0;
	width:100%;
	bottom:0;
	background:#FFD93C;
	height:6px;
	-webkit-transition:0.3s;
		-moz-transition:0.3s;
		transition:0.3s;
	z-index:2;
	-webkit-transform:scale(0 , 1);
	transform:scale(0 , 1);
}
.tabscustom.stickey li a:before{
	height:3px;
}
.tabscustom li.active a:before, .tabscustom li.cactive a:before{
	-webkit-transform:scale(01);
	transform:scale(1);
}
.tabscustom li a:after{
	content:'';
	position:absolute;
	left:0;
	right:0;
	margin:-8px auto auto;
	width:0;
	top:100%;
	border-top:16px solid #FFD93C;
	border-left:16px solid #FFD93C;
	border-top:16px solid transparent;
	border-top:16px solid transparent;
	height:0px;
	z-index:1;
	-webkit-transition:0.3s;
		-moz-transition:0.3s;
		transition:0.3s;
	-webkit-transform:scale(0) rotate(-45deg);
	transform:scale(0) rotate(-45deg);
}
.tabscustom.stickey li a:after{
	border-top:12px solid #FFD93C;
	border-left:12px solid #FFD93C;
	border-top:12px solid transparent;
	border-top:12px solid transparent;
}
.tabscustom li.active a:after, .tabscustom li.cactive a:after{
	-webkit-transform:scale(1) rotate(-45deg);
	transform:scale(1) rotate(-45deg);
}

.tabs-content{
	width:100%;
	float:left;
	padding:40px;
	background:url(../images/bg.png) no-repeat;
	background-position:center top;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	margin:50px 0 0;
}
h2{
	color:#122348;
	font-size:30px;
	font-weight:bold;
	line-height:1.6em;
	margin:0;
	padding:15px 0;
}
h3{
	font-size:18px;
	line-height:1.6em;
	color:#122348;
	font-weight:600;
	margin:0;
	padding:15px 0;
}
h5{
	font-size:16px;
	line-height:1.5em;
	font-weight:600;
	color:#122348;
	margin:0;
}
p{
	font-size:16px;
	line-height:26px;
	font-weight: 300;
}
.tabs-content h2{
	width:calc(100% - 120px);
	display:inline-block;
	margin-bottom:15px;
}
.tabs-content h3{
	
}
.btn, .btn:hover, .btn:focus{
	padding:7px 15px;
	font-size:12px;
	line-height:1;
	border-radius:0;
	margin-top:15px;
	font-weight: 500;
}
.btn.visit{
	color:#fff;
	background:#122348;
	float:right;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
    transition: 0.2s;
	position:relative;
	z-index:1;
}
.btn.visit:hover{
	-webkit-box-shadow: 0 8px 6px -6px #323232;
	   -moz-box-shadow: 0 8px 6px -6px #323232;
	        box-shadow: 0 8px 6px -6px #323232;
}
.btn.visit:before{
	background:#323232;
	width:0%;
	height:100%;
	left:0;
	top:0;
	content:"";
	position:absolute;
	z-index:-1;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
    transition: 0.4s;
}
.btn.visit:hover:before{
	width:100%;
}
.btn.visit{
	color:#fff;
	background:#122348;
	float:right;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
    transition: 0.2s;
}
.flex a{
	display:flex;
	align-items:center;
	margin-top:10px;
}
.flex a div{
	max-width:80px;
	width:100%;
	background:#fff;
	border:1px solid #707070;
	padding:10px;
	margin-right:10px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
    transition: 0.2s;
}
.flex a:hover div {
    border-color:#ffd93c;
}
.flex h5{
	vertical-align:middle;
}
.small50 h2{
	font-size:24px;
}
.small50{	
	display: flex;
    align-items: stretch;
    width: 100%;
    float: left;
	margin-top:50px;
}
.small50 .tabs-content{
	position:relative;
	height:100%;
	margin:0;
}
.video{
	width:100%;
	max-width:880px;
	margin:0 auto;
	position:relative;
	border:10px solid #122348;
	margin-bottom:45px;
	    padding:35px 25px 25px;
		background:#fff;
}
.video_container{
	width:100%;
	float:left;
	position:relative;
	background:#fff;
}
.video_container:before{
	content:'';
	position:absolute;
	width:100%;
	height:50%;
	background:#861C25;
}
.poster{
		position:absolute; left:0;top:0;width:100%;height:100%;display:block;
	}
.tab-pane video{
	max-width:100%;
	display: block;
}
.preeheading{
	background:#861C25;
	display:block;
	margin-top:50px;
}
.preeheading h2{
	font-family: "adobe-caslon-pro",serif;
	font-size:24px;
	padding:100px 15px 80px;
	font-weight:600;
	color:#FFFFFF;
	text-align:center;
	
}
.owl-dots{
	display:block;
	text-align:center;
}
.owl-dot{
	display:inline-block;
}
.owl-dot span {
    width: 16px;
    height: 16px;
    background: gray;
    border-radius: 50%;
    float: left;
    margin: 5px;
    border: 3px solid white;
}
.owl-dot.active span {
    background: #861C25;
}
.whitebg{
	background:#fff;
}
.updates{
	margin-top:50px;
	margin-bottom:50px;
	padding-right:40px;
}
.updates.event{
	padding-left:40px;
	padding-right:15px;
	border-left:1px solid rgba(112,112,112,0.2);
}
.updates h2{
	font-size:30px;
	color:#122348;
	margin-bottom:30px;
	padding-top:0;
}
.updates li{
	display:flex;
	align-items:center;
	padding:15px 25px;
	border-top:1px solid rgba(112,112,112,0.2);
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
    transition: 0.2s;
}
.updates li:hover{
	    background: #fbfbfb;
}
.updates li:last-child{
	border-bottom:1px solid rgba(112,112,112,0.2);
	margin-bottom:15px;
}
.updates li div{
	max-width:80px;
	width:100%;
	background:#fff;
	border:1px solid rgba(112,112,112,0.2);
	padding:10px;
	margin-right:10px;
}
.updates h5{
	vertical-align:middle;
}
.updates li a{
	color:#585858;
	font-size:12px;
	padding:5px;
	margin-top:5px;
	display:inline-block;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
    transition: 0.2s;
}
.updates li a:hover {
    color: #ffd93c;
}
.preefooter{
	display:flex;
	align-items:center;
	padding:50px 0;
}
.redbg{
	background:#861C25;
}
.preefooter h2{
	font-size:30px;
	color:#FFFFFF;
	font-family: "sofia-pro",sans-serif;
	line-height:1;
	margin-top:0;
	padding-top:0;
}
.preefooter p{
	font-size:16px;
	line-height:22px;
	color:rgba(255,255,255, 0.61);
}
.preefooter a{
	font-size:21px;
	color:#122348;
	padding:10px 45px;
	background:#FFD93C;
	text-shadow:0px 3px 10px rgba(0,0,0,0.16);
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
    transition: 0.2s;
	position:relative;
	float: right;
	z-index:1;
}
.preefooter a:before{
	background:#FEC00F;
	width:0%;
	height:100%;
	left:0;
	top:0;
	content:"";
	position:absolute;
	z-index:-1;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
    transition: 0.4s;
}
.preefooter a:hover:before{
	width:100%;
}
footer{
	background:#122348;
}
.footer_inner{
	width:100%;
	float:left;
	padding:60px 0;
}
.footer_header{
	display: flex;
    align-items: center;
    width: 100%;
    float: left;
}
.footer_logo{
	width:180px;
	float:left;
}
.footer_logo_text{
	width:calc(100% - 180px);
	float:left;
	text-align: right;
	position:relative;
	z-index:1;
}
.footer_logo_text ul{
	float:right;
	background:#122348;
}
.footer_logo_text:before{
	content:"";
	position:absolute;
	left:30px;
	top:50%;
	width:calc(100% - 30px);
	height:1px;
	background:#707070;
	z-index:-1;
}
.footer_logo_text ul li{
	font-size:14px;
	font-weight:100;
	color:#707070;
	float: left;
	margin-left: 28px;
	list-style-type: disc;
    list-style: disc;
}
.footer_logo_text ul li:first-child{
	list-style-type: none;
    list-style: none;
}
.quick_links{
	width:100%;
	float:left;
	padding-top:25px;
}
.quick_links ul{
	width:30%;
	float:left;
	padding:3px 5px;
}
.quick_links .map{
	width:40%;
	float:left;
	padding:3px 5px;
}
.no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: block;
    float: left;
    background: #fff;
}
.owl-carousel p{
	margin-bottom:25px;
	margin-top:15px;
}
.owl-carousel p, .owl-carousel h4{
	color:#122348;
	text-align:center;
}
.owl-carousel h4{
	font-size:28px;
}
.adress{
	width:180px;
	float:left;
}
.quick_links_inner{
	width:calc(100% - 300px);
	float:right;
}
.quick_links .adress p{
	font-size:12px;
	line-height:14px;
	color:#fff;
	font-weight:300;
	    margin-bottom: 20px;
}
.quick_links .adress a{
	font-size:12px;
	line-height:14px;
	color:#fff;
	font-weight:300;
	text-decoration:none;
}
.quick_links .adress a.callback{
	color:#122348;
	font-size:12px;
	line-height:1;
	padding:7px 12px;
	background:#FFD93C;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
    transition: 0.2s;
	position:relative;
	float: left;
	z-index:1;
}
.quick_links .adress a.callback:before{
	background:#FEC00F;
	width:0%;
	height:100%;
	left:0;
	top:0;
	content:"";
	position:absolute;
	z-index:-1;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
    transition: 0.4s;
}
.quick_links .adress a.callback:hover:before{
	width:100%;
}
.quick_links h4{
	margin:0;
	padding:0 0 20px 0;
	font-size:18px;
	font-weight:300;
	color:#FFFFFF;
}
.quick_links ul li a{
	font-size:12px;
	color:#FFFFFF;
	padding:5px 0;
	display:inline-block;
	position:relative;
}
.quick_links ul li a:after{
	content:"";
	width:100%;
	height:1px;
	background:#fff;
	left:0;
	bottom:0;
	position:absolute;
	-webkit-transform:scale(0 , 1);
	transform:scale(0 , 1);
	-webkit-transition:0.3s;
		-moz-transition:0.3s;
		transition:0.3s;
}
.quick_links ul li a:hover:after{
	-webkit-transform:scale(1);
	transform:scale(1);
}
.copy_rights p{
	background:#323232;
	color:#FFFFFF;
	text-align:center;
	padding:12px;
	font-size:10px;
	font-weight:100;
	margin:0;
}
.requestcallbackstickey{
	position:fixed;
	right:0;
	top:50%;
	transform:translateY(-50%);
	z-index:5;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	transition:0.4s;
}
.requestcallbackstickey:hover{
	width:auto;
}
.requestcallbackstickey.scrolling{
	top:20%;
	
}
.requestcallbackstickey i{
	width:40px;
	height:40px;
	font-size:20px;
	color:#122348;
	background:#FEC00F;
	display:inline-block;
	text-align: center;
	line-height:40px;
	float:left;
	z-index:3;
	position:relative;
}
.requestcallbackstickey span{	
	height:40px;
	background:#fff;
	font-size:14px;
	line-height:40px;
	padding:0 25px;
	color:#122348;
	display:inline-block;
	float:left;
	transform:translatex(150%);
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	transition:0.4s;
	z-index:2;
	position:relative;
	border:1px solid rgba(112,112,112,0.2);
	width:0;
	overflow:hidden;
}
.requestcallbackstickey a:hover span{
	transform:translatex(0%);
	width:auto;
}
.requestcallbackstickey a:hover i{
	background:#FFD93C;
}
/*===Hover======*/
/* .hovery{
	position:relative;
}
.hovery:before{
	width:0;
	height:100%;
	content:"";
	background:#FEC00F;
	position:absolute;
	left:0;
	top:0;
	-webkit-transition:0.3s;
	transition:0.3s;
	z-index:-1;
}
.hovery:hover:before{
	width:100%;
} */
/*ABOUT=====*/
.banner.innerpages{
	height:auto;
}
.graybg{
	background:#DBDBDB;
}
.breadcrumb{
	width:100%;
	border-radius:0;
	background:#DBDBDB;
	padding:8px 0px;
	display: block;
    clear: both;
	margin:0;
	
}
.breadcrumb li, .breadcrumb a{
	color:#323232;
	font-size:12px;
}
.sidenav{
	width:30%;
	padding:0 15px;
	float:left;
	margin:50px 0;
}
.sidenav ul{
	background:#861C25;
	padding:15px 0;
}
.sidenav ul li{
	position:relative;
	display:block;
	margin:0;
	padding:0;
	z-index:1;
}
.sidenav ul li:before{
	content:"";
	position:absolute;
	left:0px;
	top:0;
	width:0;
	height:100%;
	-webkit-transition:0.3s;
	transition:0.3s;
	z-index:-1;
	background:#122348;
}
.sidenav ul li:hover:before{
	width:100%;
}
.sidenav ul li.active:before{
	width:auto;
	left:-10px;
	right:-10px;
	box-shadow:0px 0px 10px rgba(0,0,0,0.16);
}
.sidenav ul li a{
	color:#FFFFFF;
	padding:10px 35px;
	display:block;
	font-size:14px;
}
article{
	width:70%;
	padding:0 15px;
	float:left;
	margin:50px 0;
}
.content{
	width:100%;
	padding:15px 50px;
	float:left;
	background:#fff;
}
.content h1{
	color:#122348;
	font-size:36px;
	margin:0 0 25px 0;
	padding:25px 0;
	border-bottom:2px solid rgba(0,0,0,0.16);
	font-family: "adobe-caslon-pro",serif;
}
.content p{
	color:#122348;
	font-size:18px;
	line-height:30px;
	margin-bottom:30px;
}
.smvisible{
	display:none;
}
.lgvisible{
	display:block;
}
#video .item{
	text-align:center;
}
#video .item img{
	max-width:120px;
	border-radius:50%;
	display: inline-block;
	border:2px solid #861C25;
}
#video .item span{
	font-size:18px;
	margin-top:20px;
}
#video .item span, #video .item span small{
	display:block;
}
@media (max-width: 1024px){
	.lgvisible{
		display:none;
	}
	.smvisible{
		display:block;
		width: 100%;
		float: left;
	}
	header {
		padding: 0;
	}
	nav {
		background: #fff;
	}
	.preenav{
		display:none;
	}
	.navmenu {
		text-align: right;
		position: absolute;
		background: #861C25;
		z-index: 999;
		max-width: 480px;
		right: 0;
		top: 100%;
	}
	.navmenu > ul {
		padding: 0px;
	}
	header ul li, header ol li {
		display: block;
		position: relative;
	}
	.submenu {
		position: relative;
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	.submenuinner, .tabed {
		-webkit-box-shadow: inset 0px 10px 10px 0px rgba(148, 147, 147, 0);
		-moz-box-shadow: inset 0px 10px 10px 0px rgba(148, 147, 147, 0);
		box-shadow: inset 0px 10px 10px 0px rgba(148, 147, 147, 0);
	}
	.navmenu ul li a {
		padding: 15px 40px;
		text-align: left;
		border-bottom: 1px solid rgba(255, 255, 255, 0.20);
		width: 100%;
		float: left;
		letter-spacing: 1px;
		color: #ffffff;
	}
	.dropnavul, .dropnavulabout, .submenchild, .dropnavulabout li, .dropnavul li, .tabeditem {
		padding: 0px;
	}
	.dropnavul li, .dropnavulabout li, .tabeditem li , .tabeditem{
		width: 100%;
		float:left;
	}
	.tabeditem li:first-child {
		color: #ffffff;
		padding-bottom: 6px;
		color: #ffffff;
		padding-bottom: 6px;
		font-size: 11px;
		font-weight: 500;
	}
	.navmenu .tabeditem{
		border-bottom: 1px solid rgba(255, 255, 255, 0.20);
		padding: 15px 40px;
	}
	.submenchild .tabeditem:last-child {
		padding-bottom: 15px;
	}
	
	.navmenu ul.tabeditem > li a{
		border-bottom: 0px solid rgba(255, 255, 255, 0.20);
		line-height: 1.5em;
		padding: 6px 0 6px 15px;
	}
	.navmenu ul.dropnavul li a {
		width: auto  !important;
		border-bottom: 0px solid rgba(255, 255, 255, 0.20);
	}
	.dropnavul li:nth-child(odd) {
		border-right: 0px solid rgba(112,112,112,0.2);
	}
	.dropnavul li{
		padding:15px 40px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.20);
	}
	.dropnavul li h5{
		color:#fff;
		font-size: 14px;
		font-weight: 500;
		letter-spacing:1px;
	}
	.navmenu .dropnavul > li a {
		color: #919191;
	}
	.navmenu > ul > li:last-child {
		margin-right: 0;
	}
	.dropnavulabout li {
		border-right: 0px solid rgba(112,112,112,0.2);
	}
	.dropnavulabout li a {
		font-weight: 500;
	}
	.submenu, #ugprograms, #pgprograms{
		display:none;
		-webkit-transition: none;
		transition: none;
		background:#6E0B13;
		width:100%;
		float:left;
	}
	/*=========*/
	header {
		padding: 0;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 999;
	}
	.navmenu {
		text-align: right;
		position: absolute;
		position: fixed;
		background: #861C25;
		z-index: 1;
		max-width: 480px;
		right: 0;
		top: 66px;
		height: calc(100vh - 66px);
		overflow: hidden;
		padding: 0px 0 40px 0;
		-webkit-transition:0.3s;
		transition:0.3s;
	}
	.sticky .navmenu {
		top: 66px;
		height: calc(100vh - 66px);
	}
	.preenav {
		display: block;
		position: fixed;
		z-index: 99;
		bottom: 0;
		right: 0;
		left: auto;
		max-width: 480px;
		background: #122348;
		padding:5px;
	}
	.preenav ul > li{
		display:none;
	}
	.preenav ul > li:last-child{
		display:block;
	}
	header ol{
		text-align: center;
		border-left: 0px solid #fff;
	}
	header ol li {
		display: inline-block;
		position: relative;
		margin:0 5px;
	}
	header ol li a{
		font-size:22px;
	}
	
	.preenav a:hover {
		color: #FFD93C;
		font-size:22px;
	}
	.dropnavulabout li a:after{
		display:none;
	}
	/*=========*/
	.navmenu ul li a:hover, .navmenu ul li:hover > a , .menu-item-has-children a:hover:after{
		color: #FFD93C;
	}
	.menu-item-has-children > a:after, .smvisible li a:after{
		content:"\f107";
		font-family:fontAwesome;
		position:absolute;
		right:15px;
		font-size:18px;
		height:100%;
		color:#fff;
		-ms-transform-origin: center 16px;
		-webkit-transform-origin: center 16px;
		transform-origin: center 16px;
		-webkit-transition:0.3s;
		transition:0.3s;
	}
	.menu-item-has-children > a.active:after, .smvisible.active li a:after{
		
		-webkit-transform:rotate(-180deg);
		transform:rotate(-180deg);
		color:#FFD93C;
	}
	.menu-item-has-children > a.active, .smvisible.active li a{
		color:#FFD93C;
	}
	.navmenu, .preenav{
		opacity:0;
		-webkit-transform: scale(1 ,0);
		-moz-transform: scale(1 ,0);
		transform: scale(1 ,0);
		-webkit-transition:0.3s;
		-moz-transition:0.3s;
		-ms-transition:0.3s;
		transition:0.3s;
		-webkit-transform-origin: top;
		-moz-transform-origin: top;
		transform-origin: top;
	}
	.navbar.active .navmenu, .navbar.active .preenav{
		opacity:1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		transform: scale(1);
	}
	.bars{
		position: fixed;
		width: 60px;
		height: 66px;
		right: 0;
		top: 0;
		border: 1px solid rgba(112,112,112,0);
		background: #F6F6F6;
		cursor: pointer;
		display: inline-block;
	}
	.bars span{
		position: absolute;
		width: 25px;
		left: 17px;
		top: 50%;
		height: 2px;
		background:#861C25;
		-webkit-transition:0.3s;
		-moz-transition:0.3s;
		transition:0.3s;
		cursor:pointer;
		display:inline-block;
	}
	.bars:hover span{
		width: 30px;
	}
	 
	.bars:before{
		content:"";
		position:absolute;
		width: 25px;
		left: 17px;
		top: 50%;
		margin-top: 0;
		height:2px;
		background:#861C25;
	}
	
	.bars span:after, .bars span:before{
		content:"";
		position:absolute;
		width:30px;
		left:0px;
		top:-8px;
		height:2px;
		background:#861C25;
		-webkit-transition:0.3s;
		-moz-transition:0.3s;
		transition:0.3s;
		-webkit-transform-origin: 20% 20%;
		-moz-transform-origin: top;
		transform-origin: 50% 50%;
	}
	.bars span:before{
		top:8px;
	}
	.bars.active-bar span{
		background:#F6F6F6;
		-webkit-transition:0s;
		-webkit-transition:0s;
		transition:0s;
	}
	.bars.active-bar:before{
		left:80px;
		opacity:0.1;
		-webkit-transition:0.3s;
		-moz-transition:0.3s;
		transition:0.3s;
	} 
	.bars.active-bar span:after{
		transform:rotate(-45deg);
		top:1px;
	}
	.bars.active-bar span:before{
		transform:rotate(45deg);
		top:1px;
	}
	.logo {
		width: 125px;
	}
}
@media(max-width:767px){
	.navmenu ul li a , .dropnavul li, .navmenu .tabeditem{
		padding: 10px 25px;
	}
	.dropnavul li{
		padding-right:5px;
	}
	.navmenu .dropnavul > li a{
		padding-bottom:0;
	}
	.navmenu .dropnavul > li a:last-child{
		margin-right:0;
	}
	header ul li a, .dropnavulabout li a, .submenu li a, .dropnavul li h5{
    font-size: 12px;
	}
	.preenav ol li a {
		font-size: 20px;
	}
	.requestcallbackstickey:hover {
		width: 100%;
	}
	.requestcallbackstickey {
		top: auto;
		bottom: 0;
		transform: translateY(-0%);
		    width: 100%;
	}
	.requestcallbackstickey a{
		float:left;
		width:50%;
		height: 40px;
		background: #fff;
		font-size: 14px;
		line-height: 40px;
		padding: 0 25px;
		color: #122348;
		display: inline-block;
		float: left;
		position: relative;
		border: 1px solid rgba(112,112,112,0.2);
		background: #FEC00F;
		color:#fff;
	}
	.requestcallbackstickey a:first-child{
		background: #122348;
	}
	.requestcallbackstickey i {
		display: none;
	}
	.requestcallbackstickey span {
		transform: translatex(0%);
		width: auto;
		background: #FEC00F;
		color:#fff;
		border:0px;
		padding:0;
	}
	.requestcallbackstickey.scrolltop {
		transform: translateY(100%);
	}
}
@media(max-width:480px){
	.dropnavul li div {
		display: none;
	}
	.requestcallbackstickey a {
		font-size: 12px;
		padding: 0 10px;
		text-align:center;
	}
	.requestcallbackstickey span{
		font-size: 12px;
		text-align:center;
	}
}
@media(max-width:767px){
	.sticky .logo {
		width: 115px;
	}
	.bars {
    height: 63px;
	}
	.tabscustom li {
		padding: 0;
		margin-bottom: 0;
		width: 50%;
	}
	.tabscustom li.active a:after, .tabscustom li.cactive a:after {
		-webkit-transform: scale(0) rotate(-45deg);
		transform: scale(0) rotate(-45deg);
	}
	.tabscustom li.active a:before, .tabscustom li.cactive a:before {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	.quick_links_inner {
		width: 100%;
	}
	.map{
		display:none;
	}
	.quick_links ul {
    width: 50%;
	}
	.adress {
		width: 100%;
		float: left;
		margin-bottom: 30px;
	}
	.footer_logo_text ul li {
		font-size: 14px;
		font-weight: 100;
		color: #707070;
		float: left;
		width: 100%;
		margin-left: 28px;
		list-style-type: none;
		padding-right: 25px;
		list-style: none;
		margin: 5px;
	}
	.tabscustom{
		width:100%;
	}
	.tabs-content h2 {
    width: 100%;
	}
	.bannertext h1 {
		font-size: 38px;
		line-height:48px;
		margin-bottom: 20px;
	}
	.bannertext ul li {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    margin-left: 25px;
	}
}
